<h1>
  Farmer's Market Finder
</h1>

<div class="row">
    <form name="Search" ng-submit="vm.search()">

      <div class="input-field col s12">
        <i class="material-icons prefix large">room</i>
        <input id="icon_prefix" type="text" placeholder="Enter a Zipcode" data-ng-model="vm.zipcode">
      </div>
    </form>
</div>
<div class="results row">
  <div data-ng-repeat="market in vm.results">
    <div class="col s12 m6 2">
      <div class="card sticky-action medium blue-green">
        <div class="card-image">
          <ng-map  center="[{{market.latitude}}, {{market.longitude}}]" zoom="16" style="height: 100%; width: 100%">
            <marker position="[{{market.latitude}}, {{market.longitude}}]">
          </ng-map>
        </div>
        <div class="card-content">
          <span class="card-title">
            <p>{{market.street}}</p>
          </span>
        </div>
        <div class="card-action">
          <a data-ui-sref="showMarket({fmid: market.fmid})">{{market.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
